.glassCard{
    width: 200px;
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    font-size: 17px;
    text-align: center;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: .2s;
    &:hover{
        box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.26);
        transform: scale(1.03);
    }
 
    a {
    font-family: sans-serif;
	background-color: var(--primary);
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
    margin: 5px;
	cursor: pointer;
    color: var(--white);
	transition: all 0.2s;
	text-align: center;
    text-decoration: none;
	border: none;
	border-radius: 5px;
	font-size: 14px;
        &:hover{
            	background-color: var(--primary-hover);

            color: var(--white);
        }
}
}

@media screen and (max-width: 1320px) {
    .glassCard{
        margin: 10px 10px;
    }
}