.root{
    position: relative;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 5px 10px;
    margin: 15px 0;
    span{
        font-weight: 300;
    }
}
.mapValue{
    display: block;
    width: 100%;
}
.user_input{
    position: absolute;
    display: block;
    margin: 5px 10px;
    top: 0px;
    left: 0px;
}
.green{
    color: var(--white);
    background-color: var(--green);
}
.red{
    color: var(--white);
    background-color: var(--red);
}