.root{
  color: var(--white);
}
.tags{
    height: 80px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.progress{
    font-weight: 300;
    padding: 8px;
    height: 280px;
    width: 20%;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.25); 
}