.textarea_block{
    width: 100%;
    margin: 0 10px 0 0;
}
textarea{
            background: rgba(255,255,255,0.2); 
            width: 100%;
            max-width: 1280px;
            font-size: 16px;
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 300;
            color: var(--white);
	        border-radius: 20px;
	        outline: none;
	        transition: border 0.5s;
	        -webkit-transition: border 0.5s;
            padding: 8px 13px;
	        -moz-transition: border 0.5s;
	        -o-transition: border 0.5s;
	        border: solid 1px #98d4f3;	
            box-sizing: border-box;
	        -webkit-box-sizing:border-box;
	        -moz-box-sizing:border-box;
            height: 300px;
            resize: none;
            overflow: auto;
            &:focus{
                border: solid 1px #77bde0;	
            }
            &:disabled{
                border: solid 1px var(--green);	
                opacity: 0.4;
            }
            &::placeholder{
                color: var(--white);
            }
        }
