@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

body {
  background: var(--bg);
  color: var(--white);
  height: 100vh;
  font-family: 'Roboto Slab', serif;
  padding: 0;
  margin: 0;
}
body > * {
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #fff;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Roboto', sans-serif;
  --bg: linear-gradient(#6344df, pink);
}
