@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #fff;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Roboto', sans-serif;
  --bg: #f5f6f8;
}
